<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="calculator" class="lesson25.spring.calculator.impl.CalculatorImpl">
        <property name="a" value="25"/>
        <property name="b" value="25"/>
    </bean>

    <bean id="personDAO" class="lesson25.spring.dao.impl.PersonDAOImpl"/>

    <bean id="personService" class="lesson25.spring.service.impl.PersonImpl">
        <constructor-arg name="dao" ref="personDAO"/>
    </bean>

</beans>